<!DOCTYPE html>
<html>
<head>

 <title>about us!</title>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />

</head>
<body class="is-preload">



<!-- Highlights -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>About us!</h2>
            <p>This a plateform where where you'll share your greatest works and achieve your recognition!</p>
        </header>
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <div class="icon fa-line-chart" style="color: black;"><span class="label">Icon</span></div>
                        <h3>growth</h3>
                    </header>
                    <p>This is site will be a part of your social growth!</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <div  class="icon fa-paper-plane-o" style="color: black;"><span class="label">Icon</span></div>
                        <h3>Creativity</h3>
                    </header>
                    <p>This plateform is a place to seek inspiration and appreciate beauty!</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <div  class="icon fa-qrcode" style="color: black;"><span class="label">Icon</span></div>
                        <h3>Secure</h3>
                    </header>
                    <p>We insisted on the security part, to ensure that our users' data is in good hands.</p>
                </div>
            </section>
        </div>
    </div>
</section>
<a href="/home" class="pull-right"><button>go home</button></a>
<!-- Scripts -->
</body><style>

</style>
</html>
